* { 
  padding: 0;
  margin: 0;
}

html {
  background-color: #FBFBFB;
  font-family: sans-serif;
  font-size: 1em;
}

#container {
  padding: 2rem;
  max-width: 65rem;
}

ul {
  margin-left: 1rem;
  list-style-type: square;
}

li {
  padding: 0.5rem;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav ul li {
  margin: 0;
  padding: 0;
}

.clear-float::after {
  clear: both;
  display: table;
  content: '';
}

#nav ul::after {
  clear: both;
  display: table;
  content: '';
}

#nav ul li {
  display: block;
  float: left;
}

#nav ul li a {
  display: block;
}

#nav ul li + li {
  margin-left: 1rem;
}

#nav ul li a, 
#nav ul li a:hover,
#nav ul li a:active,
#nav ul li a:focus {
  text-decoration: none;
  color: firebrick;
}

#nav ul li a:hover, 
#nav ul li a:focus {
  text-decoration: underline;
}

#nav {
  border-bottom: solid 0.2rem darkgray;
  padding-bottom: 0.2rem;
}

.figure {
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
  border: solid 0.1rem darkslategray;
  background-color: whitesmoke;
  text-align: center;
  border-radius: 1rem;
}

.figure .title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.figure .caption {
  font-size: 0.8rem;
  font-style: italic;
}

.table-g {
  width: 100%;
  border-collapse: collapse;
}

.table-g tr {
  border-bottom: solid 0.1rem black;
  padding: 0.75rem;
  vertical-align: top;
}

.table-g td {
  padding: 0.3rem;
  text-align: left;
}

.table-g th {
  text-align: left;
}


#tables {
  border: solid 0.2rem black;
  padding: 1rem;
}

.table {
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
}

.table tr:first-child {
  border-bottom: solid 0.2rem black;
}

.table tr {
  border-bottom: solid 0.1rem lightgray;
}

.table th {
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.2rem;
}

.table th {
  text-align: left;
}

.table th + th {
  text-align: left;
}

.table td {
  text-align: left;
  color: dimgray;
}

.table td {
  padding: 0.2rem;
}

.table td + td {
  text-align: left;
  border-left: solid 0.15rem darkgray;
}


h1,h2,h3,h4,h5 { margin-bottom: 1rem; margin-top: 1rem; }

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 1.05rem;
  text-decoration: underline;
}

h5 {
  font-size: 1.05rem;
  text-decoration: underline;
  font-style: italic;
}

code{
  padding: 1rem;
  display: block;
  border-radius: 1rem;
  font-size: 1rem;
  font-family: monospace, monospace;
  color: steelblue;
}

td.code {
  font-family: monospace, monospace;
  font-size: 0.8rem;
  color: steelblue;
}


.row-2, .row-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}

.cell { overflow: auto; }

.row-2 .cell, .row-3 .cell {
  flex: 1;
  padding: 0.1rem;
  box-sizing: border-box;
}

.mylabel {
  padding: 10px;
}

.lock {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.2rem;
}

.clickimg:hover{
  cursor: pointer
}

fieldset {
  box-sizing: border-box;
  padding: 0.5rem;
}

legend { 
  padding: 0.2rem;
}

label {
  display: block;
  font-weight: bold;
}

select, input, textarea, button {
  padding: 0.5rem;
  border: solid 0.2rem lightgray;
  background-color: white;
  box-shadow: none;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.8rem;
}

button {
  background-color: salmon;
  color: white;
  border: solid 0.2rem indianred;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: indianred;
}

input:focus, select:focus, textarea:focus, button:focus {
  border: solid 0.2rem indianred;
  box-shadow: none;
}

input:hover, select:hover, textarea:hover, button:hover {
  border: solid 0.2rem salmon;
  box-shadow: none;
}

.input_info {
  font-size: 0.8rem;
  font-style: italic;
}

.margin-top-bottom {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.msg {
  background-color: #DBDBDB;
  padding: 0.5rem;
  box-sizing: border-box;
}

.txt-info { color: steelblue; }
.txt-err { color: red; }
.txt-warn { color: orangered; }

.auto-overflow {
  overflow: auto;
}

.auto-margin-85 {
  width: 85%;
  margin: auto;
}

.jumbo {
  width: 85%;
  margin: auto;
  margin-top: 2rem;
}

.txt-center {
  text-align: center;
}

.txt-huge {
  font-size: 2rem;
}

.txt-small {
  font-size: 0.5rem;
}

.txt-gray {
  color: darkgray;
}

.bold-emph {
  font-size: 1.1em;
  font-weight: bold;
}

.row-margin + .row-margin {
  margin-top: 1.5rem;
}

.txt-abbr {
  font-size: 1.1em;
}

.inline {
  display: inline;
  width: auto;
  padding: 0.1rem;
}

.linky, .linky:visited {
  color: firebrick;
  text-decoration: none;
}

.linky:hover::after {
  content: ' \2192';
}

#chart_section, #table_section, #raw_query_section, #raw_results_section { display: none; }

.cell + .cell { margin-left: 0.5rem; }

.linky2, .linky2:visited {
  color: firebrick;
  text-decoration: none;
}

.linky2:hover {
  color: salmon;
}


@media (max-width: 45em)
{
.row-1, .row-2, .row-3 { display: block; }
.cell + .cell { margin-left: 0rem; }
td,th { display: block; }
tr { display: block;
  margin: 0.5rem;
  border: none;
}
.table tr:first-child {
    border: solid 0.2rem black;
}
.table tr {
    border: solid 0.1rem darkgray;
}
.table { display: block; }
.table td + td {
  text-align: left;
  border: none;
}

}
